node_modules/
.python_deps/
.matplotlib/
.idea/
__pycache__/
*/__pycache__/
*.py[cod]

/build_appendix_xlsx.py
/build_presentation.mjs
/build_supporting_materials.py

.env
.venv/
venv/
npm-debug.log*
